/* .board-matches{
    display:block;
    background-color: red;
    text-align: center;
}
.container-matches{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:400px;
    margin: 15px;
    &__item{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid grey;
        
        width: 100%;
        
}
} */